:root {
  --entry-content-font-family: "LXGW WenKai", "Microsoft YaHei", "Helvetica";
  --font-family: "LXGW WenKai", "Microsoft YaHei", "Helvetica"
}

body {
  max-width: 900px;
}

main {
  padding-left: 10px;
  padding-right: 10px;
}

article {
  padding: 0 10px;
}

.page-header {
  margin-bottom: 10px;
}

.entry header {
  padding: 0 10px 5px;
}

/* 列表 */
.items .item {
  border: 1px solid;
  border-radius: 4px;
  padding: 8px;

}

.items .item img {
  margin-bottom: -2px;
}

/* 分页 */
.pagination-prev::before {
  content: "< "
}

.pagination-next::after {
  content: " >"
}

/* 正文标题 */
.page-header h1 {
  border-bottom: 1px solid var(--page-header-title-border-color);
  margin-bottom: 4px;
}

/* 正文 */
.entry-content h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 25px;
}

.entry-content p {
  margin-bottom: 25px;
}

.entry-content {
  line-height: 1.8em;
}

.entry-content figure img {
  border: none
}

.entry-content figcaption {
  line-height: 1.2em
}

/* 正文图片 */
.entry-content iframe,
.entry-content video,
.entry-content img {
  max-height: 800px;
}

/* mobile */
@media (max-width: 600px) {
  .entry header h1 {
    font-size: 1.8em
  }

  .entry-content {
    font-size: 1em;
    line-height: 1.6em;
  }
}
